{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Unicornio De Github</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae unde doloribus praesentium beatae commodi reprehenderit facere dolorem debitis? Odio et, cupiditate harum obcaecati beatae incidunt tempore laborum architecto nemo.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/unicornio.png" class="img-thumbnail">
    </div>
</div>
{{> footer}}